.main-contents--conteiner
  .main-contents--title
    評価の高いサロン
  .main-contens--salon--conteiner
    .main-contens--salon
      .main-contents--image
        = image_tag("man1.png", size:"213x213")
      .main-contents--body
        .main-contents--reviews
          ★★★★☆
        .main-contents--name
          脱社畜サロン
        .main-contents--owner
          イケハヤ
    .main-contens--salon
      .main-contents--image
        = image_tag("man2.png" , size:"213x213")
      .main-contents--body
        .main-contents--reviews
          ★★★★☆
        .main-contents--name
          脱社畜サロン
        .main-contents--owner
          イケハヤ
    .main-contens--salon
      .main-contents--image
        = image_tag("man3.png", size:"213x213")
      .main-contents--body
        .main-contents--reviews
          ★★★★☆
        .main-contents--name
          脱社畜サロン
        .main-contents--owner
          イケハヤ
    .main-contens--salon
      .main-contents--image
        = image_tag("man4.png", size:"213x213")
      .main-contents--body
        .main-contents--reviews
          ★★★★☆
        .main-contents--name
          脱社畜サロン
        .main-contents--owner
          イケハヤ
